<a href="https://colab.research.google.com/github/DGuilherme/TurbofanVibration/blob/master/MachineryFaultDatabase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analise do Data Set 

*Imports needed*

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# for the FFT transformation
from scipy import pi
from scipy.fftpack import fft

# Analisys
import dataset

In [2]:
url = 'https://raw.githubusercontent.com/DGuilherme/TurbofanVibration/master/Dataset/ALLtestMescla5D.csv'
data = pd.read_csv(url,header=None,delimiter=r",")
# Dataset is now stored in a Pandas Dataframe
print(data)

             0           1               2   ...      33     34     35
0     machineID    datetime  time_in_cycles  ...  failed    RUL  RUL_I
1             1  2015-06-20             167  ...       0    1.0   74.0
2             1  2015-06-21             168  ...       0    2.0   73.0
3             1  2015-06-22             169  ...       0    3.0   72.0
4             1  2015-06-23             170  ...       0    4.0   71.0
...         ...         ...             ...  ...     ...    ...    ...
7185        100  2015-09-06             245  ...       0  206.0    4.0
7186        100  2015-09-07             246  ...       0  207.0    3.0
7187        100  2015-09-08             247  ...       0  208.0    2.0
7188        100  2015-09-09             248  ...       0  209.0    1.0
7189        100  2015-09-10             249  ...       1  210.0    0.0

[7190 rows x 36 columns]